<h1>Seznam adres obsahujicich "<%=@search%>" nactenych z Flexibee</h1>


<%= form_tag '/fb_adresas/', :method=>'get' do -%>
  <div>
  <%= label_tag :search, 'Hledat dle jména/příjmení/firmy' %>:
  <%= text_field_tag :search, @search %>
   <%= submit_tag 'Hledat' %></div>
<% end -%>

<table border="1">
  <tr>
    <th>fb id</th>
    <th>fb kod</th>
    <th>nazev</th>
    <th>ico</th>
    <th>pdf</th>
    
  </tr>

<% @fb_adresas.each do |fb_adresa| %>
  <tr>
  	<td>
  		<%= link_to fb_adresa.id.to_s, FbAdresa.view_url( fb_adresa.id), :target=>'_new' %>
  	</td>
  	<td>
  	    	<%= link_to fb_adresa.kod, FbAdresa.edit_url( fb_adresa.id) , :target=>'_new'%>
  	</td>
    <td><%= link_to "#{fb_adresa.nazev}", :id=> fb_adresa.id , :controller=>:fb_adresas , :action =>'show' %></td>
    <td><%= fb_adresa.ic%></td>
    
    
    <td>


    	<%= link_to "#{FbAdresa.pdf_url( fb_adresa.id)}", FbAdresa.pdf_url( fb_adresa.id) , :target=>'_new' %>
    	
    	
    </td>
  </tr>
<% end %>
</table>

<br />


